<div class="container">
  <br>
  <h1></h1>
  <br>


  <div class="row">
    <!-- The 12 cards -->
    <div class="col-12">
      <br>
      <table class="table">

        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Athlete Name</th>
            <th scope="col">Competition Event</th>
            <th scope="col">Start Time</th>
            <th scope="col"> D Judge End Time</th>
            <th scope="col"> C Judge End Time</th>

            <th scope="col">D</th>
            <th scope="col">E1</th>
            <th scope="col">E2</th>
            <th scope="col">E3</th>
            <th scope="col">E4</th>
            <th scope="col">E5</th>
            <th scope="col">Execution</th>
            <th scope="col">Extra Deduction</th>

            <th scope="col">Final Score</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <!-- <th scope="col"></th> -->

          </tr>
        </thead>

        <tbody>
          <% competition.forEach (function(model) { 
      
          <!-- model.dAvgScore = (model.d1Score + model.d2Score) / 2 -->
          sortEScore = [model.e1Score, model.e2Score, model.e3Score, model.e4Score, model.e5Score].sort();
          model.eAvgScore = 10 - (sortEScore[1] + sortEScore[2] + sortEScore[3]) / 3;
          model.totalScore = model.d1Score + model.eAvgScore - model.deduction;

          temp = model.totalScore.toString(); 
          temp = temp.slice(0, (temp.indexOf("."))+4); 
          model.totalScore = Number(temp);
           
          
          %>




          <tr>
            <th scope="row"></th>

            <td><%= model.athleteName %></td>
            <td><%= model.competitionEvent %></td>
            <td><%= model.startTime %></td>
            <td><%= model.endTimeD %></td>
            <td><%= model.endTime %></td>

            <!-- <td><%= model.d1Score %></td>
            <td><%= model.e1Score %></td>
            <td><%= model.e2Score %></td>
            <td><%= model.e3Score %></td>
            <td><%= model.e4Score %></td>
            <td><%= model.e5Score %></td>
            <td><%= model.deduction%></td> -->

            <!-- <td><%= model.eAvgScore %></td> -->
            <!-- <td><%= model.totalScore %></td> -->

            <% if(model.endTime == null && model.endTimeD == null && model.startTime == null) { %>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

            <td>-</td>

            <% } else { %>
            <td><%= model.d1Score %></td>
            <td><%= model.e1Score %></td>
            <td><%= model.e2Score %></td>
            <td><%= model.e3Score %></td>
            <td><%= model.e4Score %></td>
            <td><%= model.e5Score %></td>
            <td><%= model.eAvgScore %></td>
            <td><%= model.deduction%></td>

            <td><%= model.totalScore %></td>
            <% }%>



            <% if(model.startTime == null) { %>
            <td><a href="/competition/start/<%= model.id %>">Start Competition</a></td>
            <% } %>

            <% if(model.endTime != null && model.endTimeD != null && model.startTime != null ) { %>
            <td><a href="/competition/scoreboard/<%= model.id %>">Publish Score</a></td>
            <% } %>



          </tr>
          <%}); %>

        </tbody>
      </table>

    </div>






  </div>
</div>