<!--chiefjudgeView.ejs-->
<%  
      
<!-- model.dAvgScore = (model.d1Score + model.d2Score) / 2 -->
sortEScore = [competition.e1Score, competition.e2Score, competition.e3Score, competition.e4Score, competition.e5Score].sort();
competition.eAvgScore = 10 - (sortEScore[1] + sortEScore[2] + sortEScore[3]) / 3;
competition.totalScore = competition.d1Score + competition.eAvgScore;

temp = competition.totalScore.toString(); 
temp = temp.slice(0, (temp.indexOf("."))+4); 
competition.totalScore = Number(temp);


<!-- competition.endTime = new Date(); -->
 

%>



<form action="/competition/chiefjudgeView/<%= competition.id %>" method="POST">

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-6 col-xl-6">


                <h3><%= competition.competitionEvent%> </h3>
                <ul class="list-group">

                    <li class="list-group-item">Ahtlete Name: <%= competition.athleteName%></li>
                    <li class="list-group-item">Ahtlete ID: <%= competition.athleteID%></li>
                    <li class="list-group-item">Ahtlete grade: <%= competition.competitionEvent%></li>
                    <br><br>

                </ul>
                <h5> Difficulty score : </h5>
                <ul class="list-group">

                    <li class="list-group-item">D judge : <%= competition.d1Score %></li>
                    <!-- <li class="list-group-item">D judge 2: <%= competition.d2Score %></li>
                    <li class="list-group-item">D Average Score: <%= competition.dAvgScore %></li> -->
                    <br><br>

                </ul>

                <h5> Execution score : </h5>
                <ul class="list-group">

                    <li class="list-group-item">E judge 1: <%= competition.e1Score %></li>
                    <li class="list-group-item">E judge 2: <%= competition.e2Score %></li>
                    <li class="list-group-item">E judge 3: <%= competition.e3Score %></li>
                    <li class="list-group-item">E judge 4: <%= competition.e4Score %></li>
                    <li class="list-group-item">E judge 5: <%= competition.e5Score %></li>
                    <li class="list-group-item">E Average Score: <%= competition.eAvgScore %></li>
                    <br><br>

                </ul>

                <h5> Extra deduction : </h5>
                <ul class="list-group">
                    <li class="list-group-item">Extra deduction: <%= competition.deduction %></li>
                    
                    <br><br>

                </ul>


                <br>
                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                <!-- <button type="button" class="btn btn-primary">Edit</button> -->
                <a class="btn btn-primary" href="http://localhost:1337/competition/update/<%= competition.id%>"
                    role="button">Edit</a>



                <!-- <button type="button" class="btn btn-danger"
                    onclick="Finalize('<%= competition.endTime %>')">Finalize</button><br><br> -->

            </div>


            <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
                <p>
                    <h3>Final score (<b>*excluding</b> extra deduction): <%= competition.totalScore %></h3>
                </p>


                <br><br>






            </div>


        </div>
    </div>

    <br>


</form>

<!-- <script>

    async function Finalize(endTime) {
        endTime = new Date();
        //var dr = document.getElementById("CorentResult");

        var r = confirm("Confirm all judges' scores?");
        if (r == true) {

            //endTime = new Date();

            // var response = await fetch("/competition/update/<%=competition.id%>", {
            //     method: "POST",
            //     credentials: 'same-origin',

            // });

            console.log(response);

            if (response.status == 200) {
                var data = await response.json();
                alert(data);
                location.reload(true);

            } else if (response.status == 401) {
                var data = await response.text();
                alert(data);
            } else {
                alert(response.statusText);
            }

        }


    };




</script> -->