<%  
      
<!-- model.dAvgScore = (model.d1Score + model.d2Score) / 2 -->
sortEScore = [competition.e1Score, competition.e2Score, competition.e3Score, competition.e4Score, competition.e5Score].sort();
competition.eAvgScore = 10 - (sortEScore[1] + sortEScore[2] + sortEScore[3]) / 3;
competition.totalScore = competition.d1Score + competition.eAvgScore - competition.deduction;

temp = competition.totalScore.toString(); 
temp = temp.slice(0, (temp.indexOf("."))+4); 
competition.totalScore = Number(temp);

totalScoreList = [];

i = 0;


%>

<div class="container">
  <div class="row">
    <!-- The 12 cards -->
    <div class="col-12">
      <table class="table">

        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Athlete Name</th>
            <th scope="col">Competition Event</th>

            <th scope="col">Difficulty</th>
            <th scope="col">Execution</th>
            <th scope="col">Extra Deduction</th>
            <th scope="col">Final Score</th>

          </tr>
        </thead>

        <tbody>
          <% competition.forEach ( function(model) {
            
              sortEScore = [model.e1Score, model.e2Score, model.e3Score, model.e4Score, model.e5Score].sort();
              model.eAvgScore = 10 - (sortEScore[1] + sortEScore[2] + sortEScore[3]) / 3;
              model.totalScore = model.d1Score + model.eAvgScore - model.deduction;
    
              temp = model.totalScore.toString(); 
              temp = temp.slice(0, (temp.indexOf("."))+4); 
              model.totalScore = Number(temp);
              
              <!-- totalScoreList.push(model.totalScore); -->
              <!-- totalScoreList.sort(); -->
              <!-- totalScoreList.reverse(); -->

              <!-- model.ranking = totalScoreList.indexOf(model.totalScore) + 1; -->

              i = i+1;
              model.ranking = i;
             %>


          <tr>
            <th scope="row"><%= model.ranking %></th>

            <td><%= model.athleteName %></td>
            <td><%= model.competitionEvent %></td>

            <% if(model.endTime == null || model.endTimeD == null || model.startTime == null) { %>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <% } else { %>
            <td><%= model.d1Score %></td>
            <td><%= model.eAvgScore %></td>
            <td><%= model.deduction %></td>
            <td><%= model.totalScore %></td>
            <% }%>



          </tr>
          <%}); %>

        </tbody>
      </table>

    </div>

    <!-- <a href="/competition/export_xlsx/">Export Final Result</a> -->




  </div>
</div>
