<div class="container">
    <div class="row">
        <div class="card col-12">
            <div class="card-body col-12">

                <div>
                    <h2>
                        <b><%=competition.competitionEvent%></b>
                    </h2>
                    <h2>
                        <b><%=competition.athleteID%></b>
                    </h2>
                </div>


                <div class="media">
                       

                    <div class="media-body">
                        

                        <div class="card" style="width: 18rem;">
                         

                            <ul class="list-group">

                                <li class="list-group-item"><b>Athlete Name: </b><%= competition.athleteName %></li>
                                <li class="list-group-item"><b>Average D Score: </b><%= competition.dAvgScore %></li>
                                <li class="list-group-item"><b>Average E Score: </b><%= competition.eAvgScore %></li>
                                <li class="list-group-item"><b>Final Score: </b><%= competition.totalScore %></li>



                            </ul>
                        </div>


                    </div>
                </div>
                <br>



                <!--add-->


            </div>
        </div>


    </div>
</div>

<br>