<%  
      
sortEScore = [competition.e1Score, competition.e2Score, competition.e3Score, competition.e4Score, competition.e5Score].sort();
competition.eAvgScore = 10 - (sortEScore[1] + sortEScore[2] + sortEScore[3]) / 3;

temp = competition.eAvgScore.toString(); 
temp = temp.slice(0, (temp.indexOf("."))+4); 
competition.eAvgScore = Number(temp);



 
%>


<div class="container">
    <div class="row">
        <div class="card col-12">
            <div class="card-body col-12">

                <div>
                    <h2><center>International Men's - <%=competition.competitionEvent%></center></h2>
                    <h2>
                        <b></b>
                    </h2>
                </div>

              
                <!-- <div class="media"> -->

                    <!-- <div class="media-body"> -->

                        <!-- <div class="card" style="width: 18rem;"> -->
                            

                            <!-- <ul class="list-group"> -->
                                <h2><b><center><%= competition.athleteID %></center></b></h2>
                                <h1><b><center><%= competition.athleteName %></center></b></h1>
                                
                                
                                <div> 
                                    <center>
                                        <h3>
                                        <b>Difficulty: <%= competition.d1Score %></b>
                                        <b>Execution: <%= competition.eAvgScore %></b>
                                        <!-- <b>Extra Deduction: <%= competition.deduction %></b> -->
                                        </h3>
                                    </center>
                                    
                                </div>
                               
                                
                                <h2><b><center>Final Score: <%= competition.totalScore %></center></b></h2>
                                <!-- <li class="list-group-item"><h2><%= competition.athleteName %></h2></li> -->
                                <!-- <li class="list-group-item"><b>Difficulty: </b><%= competition.d1Score %></li>
                                <li class="list-group-item"><b>Execution: </b><%= competition.eAvgScore %></li>
                                <li class="list-group-item"><b>Extra Deduction: </b><%= competition.deduction %></li>
                                <li class="list-group-item"><b>Final Score: </b><%= competition.totalScore %></li> -->



                            <!-- </ul> -->
                        <!-- </div> -->


                    <!-- </div> -->
                <!-- </div> -->
                <br>



                <!--add-->


            </div>
        </div>


    </div>
</div>

<br>