<!--update.ejs-->

<%  
      
<!-- model.dAvgScore = (model.d1Score + model.d2Score) / 2 -->
sortEScore = [competition.e1Score, competition.e2Score, competition.e3Score, competition.e4Score, competition.e5Score].sort();
competition.eAvgScore = 10 - (sortEScore[1] + sortEScore[2] + sortEScore[3]) / 3;
competition.totalScore = competition.d1Score + competition.eAvgScore;

temp = competition.totalScore.toString(); 
temp = temp.slice(0, (temp.indexOf("."))+4); 
competition.totalScore = Number(temp);


competition.endTime = new Date();
 

%>


<form action="/competition/update/<%= competition.id %>" method="POST">


    <div class="container">
        <div class="row">

            <div class="col-12 col-sm-6 col-lg-6 col-xl-6">


                <h3><%= competition.competitionEvent%> </h3>
                <ul class="list-group">

                    <li class="list-group-item">Ahtlete Name: <%= competition.athleteName%></li>
                    <li class="list-group-item">Ahtlete ID: <%= competition.athleteID%></li>
                    <li class="list-group-item">Ahtlete grade: <%= competition.competitionEvent%></li>
                    <br><br>

                </ul>


                <!-- <h5> Time : </h5>
                <ul class="list-group">
                    <li class="list-group-item">Time: <input name="Competition[endTime]"
                        value="<%= competition.endTime %>" /></li>
                    <li class="list-group-item">Finish time: <%= competition.endTime %></li>
                </ul>

                <br><br> -->

                <h5> Difficulty score : </h5>
                <ul class="list-group">

                    <li class="list-group-item">D judge : <%= competition.d1Score %></li>
                    <!-- <li class="list-group-item">D judge 2: <%= competition.d2Score %></li>
                    <li class="list-group-item">D Average Score: <%= competition.dAvgScore %></li> -->
                    <br><br>

                </ul>

                <h5> Execution score : </h5>
                <ul class="list-group">

                    <li class="list-group-item">E judge 1: <%= competition.e1Score %></li>
                    <li class="list-group-item">E judge 2: <%= competition.e2Score %></li>
                    <li class="list-group-item">E judge 3: <%= competition.e3Score %></li>
                    <li class="list-group-item">E judge 4: <%= competition.e4Score %></li>
                    <li class="list-group-item">E judge 5: <%= competition.e5Score %></li>
                    <li class="list-group-item">E Average Score: <input name="Competition[eAvgScore]" value="<%= competition.eAvgScore %>" /></li>
                    <!-- <li class="list-group-item">E Average Score: <%= competition.eAvgScore %></li> -->
                    <br><br>

                </ul>
    
                <h5> Score (<b>excluding</b> Extra Deduction) : </h5>
                <ul class="list-group">
                    <!-- <li class="list-group-item">Final Score (without Deduction): <input name="Competition[totalScore]" value="<%= competition.totalScore %>" /></li> -->
                    <li class="list-group-item">Final score: <%= competition.totalScore %></li>
                </ul>

                <br><br>

                <h5> Extra Deduction : </h5>
                <ul class="list-group">

                    <li class="list-group-item">Extra Deduction: <input type="number" name="Competition[deduction]" placeholder="0.0" step="0.1" min="0" width="50" required></li>

                    
                </ul>

                <% competition.totalScore = competition.d1Score + competition.eAvgScore - competition.deduction; %>


                <br><br>

                <h5> Final score (<b>***including***</b> Extra Deduction) : </h5>   
                    <li class="list-group-item">Final Score (<b>including</b> Deduction): <input name="Competition[totalScore]" placeholder="0.000" step="0.001" min="0" width="20" required/></li>
                   
                <br>




                <!-- <h5> Execution score : </h5>
                <ul class="list-group">

                    <div>
                        <label>E judge 1: </label>
                        <input type="number" class="form-control" name="Competition[e1Score]" placeholder="0.0" step="0.1" min="0" max="10" required>
                    </div>
                    <div>
                        <label>E judge 2: </label>
                        <input type="number" class="form-control" name="Competition[e2Score]" placeholder="0.0" step="0.1" min="0" max="10" required>
                    </div>
                    <div>
                        <label>E judge 3: </label>
                        <input type="number" class="form-control" name="Competition[e3Score]" placeholder="0.0" step="0.1" min="0" max="10" required>
                    </div>
                    <div>
                        <label>E judge 4: </label>
                        <input type="number" class="form-control" name="Competition[e4Score]" placeholder="0.0" step="0.1" min="0" max="10" required>
                    </div>
                    <div>
                        <label>E judge 5: </label>
                        <input type="number" class="form-control" name="Competition[e5Score]" placeholder="0.0" step="0.1" min="0" max="10" required>
                    </div>
                    <!-- <div>
                        <label>E Average Score: </label>
                        <input type="number" class="form-control" name="Competition[eAvgScore]" placeholder="0.0" step="0.1" min="0" max="10" required>
                    </div> -->

                </ul>
                <br>

                <a class="btn btn-primary" href="http://localhost:1337/competition/update/<%= competition.id%>"
                    role="button">E1</a>
                <a class="btn btn-primary" href="http://localhost:1337/competition/update/<%= competition.id%>"
                    role="button">E2</a>
                <a class="btn btn-primary" href="http://localhost:1337/competition/update/<%= competition.id%>"
                    role="button">E3</a>
                <a class="btn btn-primary" href="http://localhost:1337/competition/update/<%= competition.id%>"
                    role="button">E4</a>
                <a class="btn btn-primary" href="http://localhost:1337/competition/update/<%= competition.id%>"
                    role="button">E5</a>

                <button type="submit" class="btn btn-danger">Submit</button>
                <!-- <button type="button" class="btn btn-primary"
                    onclick="Finalize('<%= competition.id %>')">Finalize</button><br><br> -->


                <!-- <button type="button" class="btn btn-primary">Edit</button> -->
                <!-- <a class="btn btn-primary" href="http://localhost:1337/competition/" role="button">Edit</a> -->


            </div>



        </div>
    </div>

    <br>




</form>


