<div class="container">
    <div class="row">
        <div class="card col-12">
            <div class="card-body col-12">
                <div>
                    <h2>
                        <b><%=athlete.athleteName%></b>
                    </h2>
                </div>

                
                        <div class="media-body ">

                            <div class="card" style="width: 60rem;">
                                <ul class="list-group">
            
                                    <li class="list-group-item">Ahtlete Name: <%= athlete.athleteName %></li>
                                    <li class="list-group-item">Ahtlete ID: <%= athlete.athleteID %></li>
                                    <li class="list-group-item">Difficult Score: <%= athlete.dScore %></li>
                                    <li class="list-group-item">Execution Score: <%= athlete.eScore %></li>
                                    <li class="list-group-item">Total Score: <%= athlete.totalScore %></li>
            
                                </ul>
                            </div>
            
                            <p class="mb-0"></p>
                        </div>
            
                <br>




        









                <!--add-->





    


            </div>
        </div>


    </div>
</div>

<br>